extends _layout

block content
  .ibm-columns
    .ibm-col-6-2
      .ibm-card
        .ibm-card__image
          img(src='/img/icons/health.png')
        .ibm-card__content
            h3.ibm-h3 #{ __('Medical Insurance Packages') }
            p #{ __('Medical Insurance Packages Description') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/shop/medical-packages') #{ __('Go To The Medical Subscription Packages') }
    .ibm-col-6-2
      .ibm-card
          .ibm-card__image
            img(src='/img/icons/dental.png')
          .ibm-card__content
              h3.ibm-h3 #{ __('Dental Insurance subscription') }
              p #{ __('Dental Insurance subscription Description') }
              p.ibm-ind-link
                a.ibm-forward-link(href='/shop/smart-phones') #{ __('Go To The Dental Insurance subscription') }
    .ibm-col-6-2
      .ibm-card
          .ibm-card__image
            img(src='/img/icons/visu.png')
          .ibm-card__content
              h3.ibm-h3 #{ __('Vision Insurance Subscription') }
              p #{ __('Vision Insurance Subscription Description') }
              p.ibm-ind-link
                a.ibm-forward-link(href='/shop/skis') #{ __('Go To The Vision Insurance Subscription') }
